.login {
    position: fixed;

    width: 100%;
    height: 100%;

    background-image: url("./assets/login_bg.jpg");
}

.login-logo {
    position: absolute;
    z-index: 1000;
    top: 20px;

    width: 120px;
    margin-left: 23px;
}

.login-form {
    font-size: 12px;

    position: absolute;
    z-index: 1000;
    top: 250px;
    left: 65%;

    width: 400px;

    background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1440px) {
    .login-form {
        top: 130px;
        left: 62%;

        width: 360px;
    }
}

.login-form .logon-logo-img {
    width: 120px;
    margin-left: 20px;
    padding: 20px 5px 15px;
}

.login-form form {
    width: 90%;
    margin: 20px auto;
}

.login-form .login-form-logo {
    display: flex;

    margin: 0 20px;

    border-bottom: 1px solid #ddd;

    justify-content: space-between;

    .logo-wrap {
        font-weight: 700;

        padding-left: 65px;

        background-image: url("./assets/logo.png");
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 70px;
    }
}

.login-form .login-form-logo div {
    font-size: 16px;
    line-height: 70px;

    height: 70px;
    margin-right: 22px;

    color: #919191;
}

.ivu-form-item-content {
    text-align: center;

    .ivu-input {
        font-size: 16px;

        height: 46px;
    }

    .ivu-input-group-prepend {
        font-size: 18px;
    }

    button {
        font-size: 16px;

        width: 50%;
    }
}
